<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Remove IIS default handler and let ASP.NET Core handle all requests -->
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\IISAppPoolRecycler.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess"
                  startupTimeLimit="120"
                  requestTimeout="00:20:00">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://*:80" />
          <environmentVariable name="DOTNET_USE_POLLING_FILE_WATCHER" value="true" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- Ensure proper request handling -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      
      <!-- Security and performance settings -->
      <security>
        <requestFiltering>
          <verbs>
            <add verb="OPTIONS" allowed="true" />
            <add verb="GET" allowed="true" />
            <add verb="POST" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
      
      <!-- Security Headers -->
      <httpProtocol>
        <customHeaders>
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        </customHeaders>
      </httpProtocol>
      
      <!-- Enable compression -->
      <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
        <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
        <staticTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/json" enabled="true" />
          <add mimeType="*/*" enabled="false" />
        </staticTypes>
      </httpCompression>
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
      
      <!-- Default document - Let ASP.NET Core handle routing -->
      <defaultDocument enabled="false" />
      
      <!-- Error pages - Let ASP.NET Core handle errors -->
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
</configuration>
